In [2]:
import pandas as pd

In [3]:
train_df = pd.read_csv("data/train_new.csv")
# Drop the null columns where all values are null
# df = df.dropna(axis='columns', how='all')
# Drop the null rows
train_df = train_df.dropna()
train_df = train_df.drop(columns = ['Date of Joining'])

train_df.count()

Gender                  18590
Company Type            18590
WFH Setup Available     18590
Designation             18590
Resource Allocation     18590
Mental Fatigue Score    18590
Burn Rate               18590
dtype: int64

In [4]:
train_df.head()

,Gender,Company Type,WFH Setup Available,Designation,Resource Allocation,Mental Fatigue Score,Burn Rate
0,1,0,0,2.0,3.0,3.8,0.16
1,0,0,1,1.0,2.0,5.0,0.36
3,0,0,1,1.0,1.0,2.6,0.20
4,1,0,0,3.0,7.0,6.9,0.52
5,0,1,1,2.0,4.0,3.6,0.29

In [5]:
selected_features = train_df.drop(columns = ['Gender'])

selected_features

,Company Type,WFH Setup Available,Designation,Resource Allocation,Mental Fatigue Score,Burn Rate
0,0,0,2.0,3.0,3.8,0.16
1,0,1,1.0,2.0,5.0,0.36
3,0,1,1.0,1.0,2.6,0.20
4,0,0,3.0,7.0,6.9,0.52
5,1,1,2.0,4.0,3.6,0.29
...,...,...,...,...,...,...
22743,1,1,1.0,3.0,6.0,0.48
22744,1,0,3.0,7.0,6.2,0.54
22746,1,1,3.0,6.0,6.7,0.59
22748,0,0,2.0,5.0,5.9,0.52
22749,1,0,3.0,6.0,7.8,0.61

In [6]:
#split train test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(selected_features, train_df['Gender'], random_state=1)

In [7]:
from sklearn.preprocessing import StandardScaler

X_scaler = StandardScaler().fit(X_train)

In [8]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [9]:
# do we need to one-hot encode? is what we did in the cleaning ok?

In [13]:
from tensorflow.keras.models import Sequential

model = Sequential()

model

<h2> how should do we know the number of inputs and nodes to add?

In [14]:
from tensorflow.keras.layers import Dense
number_inputs = 3
number_hidden_nodes = 4
model.add(Dense(units=number_hidden_nodes,
                activation='relu', input_dim=number_inputs))

In [15]:
number_classes = 2
model.add(Dense(units=number_classes, activation='softmax'))

In [16]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 4)                 16
_________________________________________________________________
dense_2 (Dense)              (None, 2)                 10
=================================================================
Total params: 26
Trainable params: 26
Non-trainable params: 0
_________________________________________________________________