<h1> Model Scores </h1>

Classifier Tree Decision Score: 0.5154905335628227
<br>
Random Forest Score: 0.5458261617900172

In [1]:
from sklearn import tree
import pandas as pd
import os

In [3]:
train_df = pd.read_csv("data/train_new.csv")
# Drop the null columns where all values are null
# df = df.dropna(axis='columns', how='all')
# Drop the null rows
train_df = train_df.dropna()
train_df = train_df.drop(columns = ['Date of Joining'])

train_df.count()

Gender                  18590
Company Type            18590
WFH Setup Available     18590
Designation             18590
Resource Allocation     18590
Mental Fatigue Score    18590
Burn Rate               18590
dtype: int64

In [5]:
train_df.head()

,Gender,Company Type,WFH Setup Available,Designation,Resource Allocation,Mental Fatigue Score,Burn Rate
0,1,0,0,2.0,3.0,3.8,0.16
1,0,0,1,1.0,2.0,5.0,0.36
3,0,0,1,1.0,1.0,2.6,0.20
4,1,0,0,3.0,7.0,6.9,0.52
5,0,1,1,2.0,4.0,3.6,0.29

In [7]:
selected_features = train_df.drop(columns = ['Gender'])

selected_features

,Company Type,WFH Setup Available,Designation,Resource Allocation,Mental Fatigue Score,Burn Rate
0,0,0,2.0,3.0,3.8,0.16
1,0,1,1.0,2.0,5.0,0.36
3,0,1,1.0,1.0,2.6,0.20
4,0,0,3.0,7.0,6.9,0.52
5,1,1,2.0,4.0,3.6,0.29
...,...,...,...,...,...,...
22743,1,1,1.0,3.0,6.0,0.48
22744,1,0,3.0,7.0,6.2,0.54
22746,1,1,3.0,6.0,6.7,0.59
22748,0,0,2.0,5.0,5.9,0.52
22749,1,0,3.0,6.0,7.8,0.61

In [9]:
#split train test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(selected_features, train_df['Gender'], random_state=1)

In [11]:
classifier = tree.DecisionTreeClassifier()
classifier = classifier.fit(X_train, y_train)
classifier.score(X_test, y_test)

0.5154905335628227

In [12]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.5458261617900172

In [14]:
sorted(zip(rf.feature_importances_, selected_features), reverse=True)

[(0.42651239890115283, 'Mental Fatigue Score'),
 (0.406336501588609, 'Burn Rate'),
 (0.07354299044042688, 'Resource Allocation'),
 (0.0421961409245984, 'Designation'),
 (0.027481747907419436, 'Company Type'),
 (0.023930220237793523, 'WFH Setup Available')]