<h1> Model scores </h1>

Training Data Score: 0.5972600774637785
<br>
Testing Data Score: 0.5879948364888123

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os

In [2]:
train_df = pd.read_csv("data/train_new.csv")

# Drop the null rows
train_df = train_df.dropna()
train_df = train_df.drop(columns = ['Date of Joining'])

train_df.count()

Gender                  18590
Company Type            18590
WFH Setup Available     18590
Designation             18590
Resource Allocation     18590
Mental Fatigue Score    18590
Burn Rate               18590
dtype: int64

In [3]:
train_df

,Gender,Company Type,WFH Setup Available,Designation,Resource Allocation,Mental Fatigue Score,Burn Rate
0,1,0,0,2.0,3.0,3.8,0.16
1,0,0,1,1.0,2.0,5.0,0.36
3,0,0,1,1.0,1.0,2.6,0.20
4,1,0,0,3.0,7.0,6.9,0.52
5,0,1,1,2.0,4.0,3.6,0.29
...,...,...,...,...,...,...,...
22743,1,1,1,1.0,3.0,6.0,0.48
22744,0,1,0,3.0,7.0,6.2,0.54
22746,1,1,1,3.0,6.0,6.7,0.59
22748,1,0,0,2.0,5.0,5.9,0.52
22749,0,1,0,3.0,6.0,7.8,0.61

In [4]:
selected_features = train_df.drop(columns = ['Burn Rate'])

selected_features

,Gender,Company Type,WFH Setup Available,Designation,Resource Allocation,Mental Fatigue Score
0,1,0,0,2.0,3.0,3.8
1,0,0,1,1.0,2.0,5.0
3,0,0,1,1.0,1.0,2.6
4,1,0,0,3.0,7.0,6.9
5,0,1,1,2.0,4.0,3.6
...,...,...,...,...,...,...
22743,1,1,1,1.0,3.0,6.0
22744,0,1,0,3.0,7.0,6.2
22746,1,1,1,3.0,6.0,6.7
22748,1,0,0,2.0,5.0,5.9
22749,0,1,0,3.0,6.0,7.8

In [5]:
#split train test
from sklearn.model_selection import train_test_split

# X_train, X_test, y_train, y_test = train_test_split(selected_features, train_df['Gender'], random_state=1, stratify= train_df['Mental Fatigue Score'])
X_train, X_test, y_train, y_test = train_test_split(selected_features, train_df['Burn Rate'], random_state=1, stratify = train_df['Burn Rate'])

In [6]:
y_test

10810    0.28
726      0.27
19977    0.54
6272     0.43
19653    0.39
         ...
10706    0.39
226      0.37
16714    0.13
3100     0.77
10587    0.44
Name: Burn Rate, Length: 4648, dtype: float64

In [7]:
#Scale data
from sklearn.preprocessing import MinMaxScaler

X_scaler = MinMaxScaler().fit(X_train)
X_scale_train = X_scaler.transform(X_train)
X_scale_test = X_scaler.transform(X_test)

In [9]:
#Train the model 
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing
from sklearn import utils 

lin_regr_model = LinearRegression()
lin_regr_model

LinearRegression()

In [10]:
# update the name of model!!!!

lin_regr_model.fit(X_train, y_train)

LinearRegression()

In [12]:
print(f"Training Data Score: {lin_regr_model.score(X_train, y_train)}")
print(f"Testing Data Score: {lin_regr_model.score(X_test, y_test)}")

Training Data Score: 0.9212250346164508
Testing Data Score: 0.9189457447498501

In [13]:
predictions = lin_regr_model.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [0.26291879 0.25952856 0.56807454 0.35155855 0.3564176  0.00536597
 0.64550972 0.31858356 0.42900025 0.26280427]
First 10 Actual labels: [0.28, 0.27, 0.54, 0.43, 0.39, 0.03, 0.64, 0.36, 0.35, 0.27]

In [14]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

      Prediction  Actual
0       0.262919    0.28
1       0.259529    0.27
2       0.568075    0.54
3       0.351559    0.43
4       0.356418    0.39
...          ...     ...
4643    0.432285    0.39
4644    0.391905    0.37
4645    0.191535    0.13
4646    0.769862    0.77
4647    0.446405    0.44

[4648 rows x 2 columns]

In [15]:
#add svr, add knn (regression)

from sklearn.svm import SVR
from sklearn.preprocessing import StandardScaler

from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline

pipe = Pipeline([('scaler', StandardScaler()), ('svr', SVR())])
# The pipeline can be used as any other estimator
# and avoids leaking the test set into the train set
pipe.fit(X_train, y_train)
Pipeline(steps=[('scaler', StandardScaler()), ('svr', SVR())])
pipe.score(X_test, y_test)

0.9102328417218084

In [ ]:
#add KNN as an extra, might not work for regression

In [27]:
# Save the model

from joblib import dump, load
dump(lin_regr_model, 'linear_regression_model.joblib')

['linear_regression_model.joblib']

In [28]:
# Load the model
loaded_lin_model = load('linear_regression_model.joblib')

In [32]:
#evaluating loaded model 

score = loaded_lin_model.score(X_test, y_test)
print("Test score: {0:.2f} %".format(100 * score))

Test score: 91.89 %